	<%= form_for(@user, :html => {:class => "form-stacked" }) do |f| %>
   			<%= render 'shared/error_messages' %>
			<fieldset>
			<div class="clearfix">
     			<%= f.label :name %>
            	<%= f.text_field :name %>
        	</div>
        	<div class="clearfix">
            	<%= f.label :email %><br />
            	<%= f.text_field :email %>
            </div>
        	<div class="clearfix">
            	<%= f.label :password %><br />
            	<%= f.password_field :password %>
        	</div>
        	<div class="clearfix">
            	<%= f.label :password_confirmation, "Confirmation" %><br />
            	<%= f.password_field :password_confirmation %>
        	</div>
        	<div class="actions">
            	<%= f.submit "Sign up" %>
        	</div>
			</fieldset>
    <% end %>

