<div class="topbar">
<div class="container fixed">
	<h3>
		<a href="<%= home_path %>"><img src="assets/logoNavBar.png" style="height:20px; width:auto;" /></a>
	</h3>
	<form action="/home">
		<input type="text" placeholder="¿Qué se te antoja?" id="q">
	</form>
    
	<% if signed_in? %>
	<ul style="float:right;">
		<li><%= link_to "Mis Loonches","#" %></li>
		<li><%= link_to "Cuenta","#" %></li>
		<li><%= link_to "Salir", signout_path, :method => :delete %></li>
	</ul>
	<% else %>
		<%= render 'sessions/login_form' %>
	<% end %>
</div>
</div>
